[default]
logfile = /var/log/zabbifier-web/collector.log
loglevel = WARNING
status_page = /var/www/html/index.html

[first.zabbix.your.domain]
url = https://your.domain.here
username = zabbix
password = zabbix

[second.zabbix.your.domain]
url = http://second.domain
username = Admin
password = zabbix
